		#second{
			width: 100%;
			height: 100%;
			display: none;
			animation-name: name2;
			animation-duration: 0.1s;
			position: absolute;
		}
		
		@keyframes name1{
			from{background-color: floralwhite;}
			to{background-color: white;}
		}
		
		.s_img1{
			z-index: -1;
			position: absolute;
			width: 100%;
		}
		.s_img2{
			position: absolute;
			width: 12%;
			margin-left: 5%;
			margin-top: 3%;
		}
		
		#s_div3{
			z-index: 1;
			position: absolute;
			width: 80%;
			margin-left: 10%;
			margin-top: 25%;
		}
		
		#s_div3 video{
			border-radius: 20px;
		}
		
		.shou{
			position: absolute;
			z-index: 3;
			width: 15%;
			margin-top: 15%;
			margin-left: 17%;
			animation-name: page2_kf2;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
		}
		.shou img{
			width: 100%;
		}
		
		#shou{
			display: block;
		}
		
		@keyframes page2_kf2{
			from{margin-left: 17%;}
			to{margin-left: 80%;}
		}

		.video_1{
			width: 76%;
			margin-left: 12%;
			margin-top: 35%;
		}
		.video_1 video{
			border-radius: 20px;
		}
		.progress{
			position: absolute;
			width: 80%;
			height: 30%;
			margin-left: 10%;
		}
		.progress img{
			width: 100%;
			position: absolute;
		}
		.timrBar{
			position: absolute;
			height: 1.127rem;
			width: 22%;
			border-radius: 1.127rem;
		}