		#second{
			width: 100%;
			height: 650px;
			display: none;
			animation-name: name2;
			animation-duration: 0.1s;
		}
		
		@keyframes name1{
			from{background-color: floralwhite;}
			to{background-color: white;}
		}
		
		.s_img1{
			z-index: -1;
			position: absolute;
			width: 100%;
		}
		.s_img2{
			position: absolute;
			width: 10%;
		}
		.s_img3{
			position: absolute;
			margin-left: 90%;
			width: 10%;
		}
		
		#s_div3{
			z-index: 1;
			position: absolute;
			width: 80%;
			margin-left: 10%;
			margin-top: 25%;
		}
		
		#s_div3 video{
			border-radius: 20px;
		}
		
		#hk{
			position: absolute;
			width: 100%;
		}
		
		#hk .hua{
			z-index: 1;
			position: absolute;
			width: 100%;
			height: 20%;
		}
		
		#hk .hua img{
			width: 80%;
			margin-top: 145%;
			margin-left: 10%;
		}
		
		.shou{
			position: absolute;
			z-index: 3;
			width: 15%;
			margin-top: 26%;
			margin-left: 17%;
			animation-name: page2_kf2;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease;
		}
		.shou img{
			width: 100%;
		}
		
		#shou{
			display: block;
		}
		
		@keyframes page2_kf2{
			from{margin-left: 17%;}
			to{margin-left: 80%;}
		}

		.video_1{
			width: 80%;
			margin-left: 10%;
		}
		.video_1 video{
			margin-top: 25%;
			border-radius: 20px;
		}
		.progress{
			display: inline-block;
			width: 80%;
			height: 1.127rem;
			background-image: url(../img/男女/男女.png);
			background-repeat: no-repeat;
			background-size: 100%;
			margin-left: 10%;
			margin-top: 10%;
		}
		.timrBar{
			display: inline-block;
			background-image: url(../img/男女/黑男青年.ai.png);
			background-size: cover;
			height: 1.127rem;
			width: 22%;
			border-radius: 1.127rem;
		}