html,body,div{
	border: 0;
	padding: 0;
	margin: 0;
}
#first{
	width: 100%;
	height: 650px;
}
.img1{
	z-index: -1;
	position: absolute;
	width: 100%;
}
.img2{
	position: absolute;
	margin-left: 90%;
	width: 10%;
}
.top_font{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 15%;
	border: 0;
	color: #FFDA00;
	font-size: 36px;
	font-family: Roboto-Black;
	text-align: center;
	padding-top: 10%;
	text-shadow: 5px 5px 10px #FFDA00;
}
#div1{
	z-index: 1;
	position: absolute;
	width: 80%;
	margin-left: 10%;
	margin-top: 25%;
}
#div1 video{
	border-radius: 20px;
}
.btn{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 20%;
	margin-top: 140%;
}
.btn1{
	position: absolute;
	background: url(../img/xhan/按钮循环_00000.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	border: 0;

	font-size: 22px;
	color: white;
	padding-left: 20%;
	padding-bottom: 7%;

	animation-name: page1_kf1;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes page1_kf1{
	0%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00000.png) no-repeat;background-size: cover;}
	5%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00001.png) no-repeat;background-size: cover;}
	10%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00002.png) no-repeat;background-size: cover;}
	15%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00003.png) no-repeat;background-size: cover;}
	20%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00004.png) no-repeat;background-size: cover;font-size: 22px;}
	25%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00005.png) no-repeat;background-size: cover;}
	30%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00006.png) no-repeat;background-size: cover;}
	35%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00007.png) no-repeat;background-size: cover;font-size: 18px;}
	40%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00008.png) no-repeat;background-size: cover;}
	45%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00009.png) no-repeat;background-size: cover;}
	50%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00010.png) no-repeat;background-size: cover;font-size: 22px;}
	55%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00011.png) no-repeat;background-size: cover;}
	60%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00012.png) no-repeat;background-size: cover;}
	65%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00013.png) no-repeat;background-size: cover;}
	70%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00014.png) no-repeat;background-size: cover;}
	75%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00015.png) no-repeat;background-size: cover;}
	80%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00016.png) no-repeat;background-size: cover;}
	85%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00017.png) no-repeat;background-size: cover;}
	90%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00018.png) no-repeat;background-size: cover;}
	95%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00019.png) no-repeat;background-size: cover;}
	100%{background: url(../img/按钮/拍照按钮循环-21/按钮循环_00020.png) no-repeat;background-size: cover;}
}